{% extends 'Cremeria_ToscanoApp/index.html' %}
{% block titulo %}Proveedores{% endblock titulo %}

{% block formulario %}
    <div class="acciones">
        <div class="consultar">
            <form method="POST">{% csrf_token %}
                <input type="text", class="texto" name="consulta" placeholder="Buscar Proveedor">
                <button type="submit" class="boton_buscar">Buscar</button>
            </form>
        </div>
        {% if perms.Cremeria_Toscano_1.add_proveedores %}
        <div class="boton">
            <a class="boton_agregar" href="{% url 'Cremeria_Toscano_1:agregarproveedor' %}">Agregar +</a>
        </div>
        {% endif %}
    </div>
    {% if proveedores %}
        <div class="dtabla">
            <table class="tabla">
                <thead>
                    <tr>
                        <th>IdProveedor</th>
                        <th>Nombre Proveedor</th>
                        {% if perms.Cremeria_Toscano_1.delete_proveedores %}
                        <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for Proveedores in proveedores %}
                        <tr>
                            <td>
                            {% if perms.Cremeria_Toscano_1.change_proveedores %}
                                <a href="{% url 'Cremeria_Toscano_1:modificarproveedor' Proveedores.idproveedor %}">{{ Proveedores.idproveedor }}</a>
                            {% else %}
                                {{ Proveedores.idproveedor }}
                            {% endif %}
                            </td>
                            <td>{{ Proveedores.nomproveedor }}</td>
                            {% if perms.Cremeria_Toscano_1.delete_proveedores %}
                            <td><a href="{% url 'Cremeria_Toscano_1:eliminarproveedor' Proveedores.idproveedor %}">Eliminar</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h2>No existen Proveedores registrados</h2>
    {% endif %}
{% endblock formulario %}
