{% extends 'Cremeria_ToscanoApp/index.html' %}
{% block titulo %}Respaldos y restauracion{% endblock titulo %}

{% block formulario %}
    <div class="ryr">
        <form method="POST">{% csrf_token %}
            <div class="p">
                <h2><strong>Accion:</strong></h2>
                <div>
                    <input type="radio" name="accion" value="Respaldar"><strong>Respaldar</strong>
                </div>
                <div>
                    <input type="radio" name="accion" value="Restaurar"><strong>Restaurar</strong>
                </div>
            </div>
            <div class="botones_con">
                <div class="g"><button type="submit" class="guardar">Realizar</button></div>
                <div class="c"><a class="cancelar" href="{% url 'Cremeria_ToscanoApp:productos' %}">Cancelar</a></div>
            </div>
        </form>
    </div>
{% endblock formulario %}