{% extends 'Cremeria_ToscanoApp/index.html' %}
{% block titulo %}Ventas | Eliminar Venta{% endblock titulo %}

{% block formulario %}
    <div class="confirmar">
        <form method="POST">{% csrf_token %}
            <div>
                <h2><strong>¿Esta seguro de eliminar la venta {{ object.idventa }}?</strong></h2>
            </div>
            <div class="botones_con">
                <div class="g"><button type="submit" class="guardar">Confirmar</button></div>
                <div class="c"><a class="cancelar" href="{% url 'Cremeria_Toscano_1:ventas' %}">Cancelar</a></div>
            </div>
        </form>
    </div>
{% endblock formulario %}